<c-row ngPreserveWhitespaces>
    <c-col xs="4">
        <c-card>
            <img cCardImg="top" src="./assets/images/inteligencia.png">
            <c-card-body>
              <h5 cCardTitle>Inteligencia Emocional</h5>
              <p cCardText>
                Descubre tu potencial y desarrolla tu talento con Creatividad, Comunicación y Liderazgo en este superpack de 12 cursos
              </p>
              <button cButton color="light" (click)="goToListaContenido()">Ver contenido</button>
            </c-card-body>
          </c-card>
    </c-col>
    <c-col xs="4">
        <c-card>
            <img cCardImg="top" src="./assets/images/liderazgo.jpg">
            <c-card-body>
              <h5 cCardTitle>Liderazgo positivo
            </h5>
              <p cCardText>
                Potencia tus habilidades de liderazgo, comunicación, influencia, persuasión y empatía. Logra tus objetivos.
              </p>
              <button cButton color="light">Ver contenido</button>
            </c-card-body>
          </c-card>
    </c-col>
</c-row>
